.category-page {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* ---- FILTRE PREMIUM ---- */
.filter-bar {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.06);
  margin-bottom: 30px;
}

.filter-section {
  flex: 1;
}

.filter-section h4 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.filter-section select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.filter-section select:focus {
  border-color: #0d6efd;
}

/* ---- PRODUITS ---- */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
  gap: 19px;
}

.product-card {

  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  position: relative;
}

.img-box {
  background: #f0f0f0;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 16px;
  font-weight: 600;
}

.product-card .brand {
  font-size: 13px;
  opacity: 0.6;
}

.product-card .price {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 600;
}

/* BADGE */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4d4d;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.filter-bar select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ff9db3;
  border-radius: 8px;
  /* background-color: #fff0f5; */
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.filter-bar select option {
  font-size: 14px;
  padding: 10px;
  background: white;
  color: #333;
}
@media (max-width: 480px) {
  .filter-bar {
    flex-direction: column;
    gap: 8px;
  }

  .filter-bar select {
    padding: 10px;
  }

  .filter-bar select option {
    font-size: 11px;
  }
}
