.newsletter-section {
  width: 95%;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
}

.newsletter-container {
  width: 100%;
  max-width: 900px;
  background: #ffe8f0;
  border-radius: 25px;
  padding: 50px 40px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.newsletter-container h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.newsletter-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.newsletter-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.newsletter-input {
  width: 100%;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.newsletter-input input {
  flex: 1;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.mail-icon {
  font-size: 20px;
  opacity: 0.6;
}

.newsletter-btn {
  padding: 12px 40px;
  background: #ff4f86;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 79, 134, 0.4);
  transition: 0.3s ease;
}

.newsletter-btn:hover {
  background: #e43a71;
}
@media (max-width: 480px) {
  .newsletter-section {
  width: 90%;
 padding: 70px 15px;
}
}