.testimonials-container {
  text-align: center;
  margin: 60px auto;
  padding: 20px;
  max-width: 700px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #222;
}

.testimonial-card {
  background: #fff;
  padding: 50px 30px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: 0.4s ease;
}

.avatarcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  background-color: green;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-bottom: 20px;
  
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
  color: #111;
}

.role {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-style: italic;
  color: #444;
  line-height: 1.6;
  padding: 10px 15px;
  min-height: 65px;
  
}

.arrows {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 20px;
}

.arrow-btn {
  background: #f1f1f1;
  border: none;
  padding: 12px 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background: #ff4d6d;
  color: #fff;
}

@media (max-width: 480px) {
  .testimonial-card {
    padding: 35px 20px;
  }

  .text {
    font-size: 16px;
    min-height: 85px;
  }
}
